@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;

.our-approach {
  margin: 100px auto 0 auto;
  max-width: 1700px;
  background: url('../../../../public/assets/home/our-approach/umbrella-big-icon.svg') left center
    no-repeat;
  background-size: 671px 579px;
  border: 1px solid red;

  @media (max-width: 1500px) {
    background-size: 571px 479px;
  }

  @include xl {
    background-size: 471px 379px;
  }

  @include lg {
    background-position: top center;
  }

  @include md {
    background-size: 371px 339px;
  }

  @include sm {
    background-size: 336px 289px;
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;

    @include lg {
      flex-direction: column;
    }

    &-wrapper {

      @include lg {
        align-self: flex-start;
      }

      &-title {
        font-weight: 600;
        font-size: 72px;
        line-height: 115%;
        color: $primary-01;
        margin-bottom: 30px;
        max-width: 890px;

        @media (max-width: 1500px) {
          font-size: 70px;
        }

        @include xxl {
          font-size: 68px;
        }

        @include xl {
          max-width: 740px;
        }

        @include lg {
          font-size: 58px;
          max-width: 720px;
        }

        @include md {
          font-size: 50px;
        }

        @include sm {
          font-size: 24px;
        }
      }

      &-text {
        font-size: 32px;
        line-height: 115%;
        color: $neutral-02;
        max-width: 890px;

        @media (max-width: 1500px) {
          font-size: 30px;
        }

        @include xxl {
          font-size: 28px;
        }

        @include xl {
          font-size: 28px;
          max-width: 720px;
        }

        @include lg {
          font-size: 24px;
        }

        @include md {
          font-size: 20px;
        }

        @include sm {
          font-size: 18px;
        }

        @include xs {
          font-size: 12px;
        }
      }
    }

    &-img-box {
      max-width: 588px;
      height: 588px;

      @include lg {
        max-width: 508px;
        height: 508px;
      }

      @include md {
        max-width: 410px;
        height: 410px;
      }

      @include sm {
        max-width: 310px;
        height: 310px;
      }

      &-img {
        max-width: 100%;
        height: auto;
        animation: rotate-umbrella 5s linear infinite;
      }
    }
  }
}

@keyframes rotate-umbrella {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
