@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;

.our-approach {
  margin: 100px auto 0 auto;
  max-width: 1700px;
  background: url('../../../../public/assets/home/our-approach/umbrella-big-icon.svg') left center
    no-repeat;
  background-size: 671px 579px;
  position: relative;

  @media (max-width: 1500px) {
    background-size: 571px 479px;
  }

  @include xl {
    background-size: 471px 379px;
  }

  @include lg {
    background-size: 371px 339px;
    background-position: top center;
    padding-bottom: 500px;
  }

  @include md {
    background-size: 351px 309px;
  }

  @include sm {
    background-size: 336px 259px;
  }

  @include xs {
    background-size: 336px 200px;
   padding-bottom: 350px;
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include lg {
      flex-direction: column;
    }

    &-wrapper {
      max-width: 890px;
      padding-right: 50px;

      @include xl {
        max-width: 750px;
      }

      @include lg {
        align-self: flex-start;
        max-width: 720px;
      }

      &-title {
        font-weight: 600;
        font-size: 72px;
        line-height: 115%;
        color: $primary-01;
        margin-bottom: 30px;

        @media (max-width: 1500px) {
          font-size: 70px;
        }

        @include xxl {
          font-size: 68px;
        }

        @include xl {
          max-width: 740px;
        }

        @include lg {
          font-size: 58px;
        }

        @include md {
          font-size: 50px;
        }

        @include sm {
          font-size: 24px;
        }
      }

      &-text {
        font-size: 32px;
        line-height: 115%;
        color: $neutral-02;

        @media (max-width: 1500px) {
          font-size: 30px;
        }

        @include xxl {
          font-size: 28px;
        }

        @include xl {
          font-size: 28px;
        }

        @include lg {
          font-size: 24px;
        }

        @include md {
          font-size: 20px;
        }

        @include sm {
          font-size: 18px;
        }

        @include xs {
          font-size: 12px;
        }
      }
    }

    &-img-box {
      width: 588px;
      height: 588px;

      @include xxl {
        width: 558px;
        height: 558px;
      }

      @include xl {
        width: 508px;
        height: 508px;
      }

      @include lg {
        width: 508px;
        height: 508px;
        position: absolute;
        top: 350px;
        left: 50%;
        transform: translateX(-50%);
      }

      @include md {
        width: 410px;
        height: 410px;
      }

      @include sm {
        top: 300px;
      }

      @media (max-width: 415px) {
        top: 350px;
      }

      @media (max-width: 355px) {
        top: 380px;
      }

      @include xs {
        top: 210px;
        width: 310px;
        height: 310px;
      }

      &-img {
        position: absolute;
        top: 0;
        right: -20px;
        width: 588px;
        height: 588px;
        animation: rotate-umbrella 5s linear infinite;

        @include xxl {
          right: 0;
          width: 558px;
          height: 558px;
        }

        @include xl {
          width: 528px;
          height: 528px;
        }

        @include lg {
          width: 508px;
          height: 508px;
        }

        @include md {
          width: 410px;
          height: 410px;
        }

        @include xs {
          width: 310px;
          height: 310px;
        }
      }
    }
  }
}

@keyframes rotate-umbrella {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
