@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;

.our-approach {
  margin: 100px auto 0 auto;
  max-width: 1700px;
  background:
    url('../../../../public/assets/home/our-approach/umbrella-big-icon.svg') left center no-repeat,
    url('../../../../public/assets/home/our-approach/umrella.svg') right center no-repeat;
  background-size:
    671px 579px,
    588px 588px;
  padding-top: 150px;
  padding-bottom: 150px;

  @media (max-width: 1500px) {
    background-size:
      571px 479px,
      488px 488px;
  }

  @include xl {
    background-size:
      471px 379px,
      388px 388px;
  }

  @include lg {
    background-position:
      top center,
      bottom center;
    padding-top: 50px;
    padding-bottom: 450px;
  }

  @include sm {
    background-size:
      336px 289px,
      310px 311px;
    background-position:
      top center,
      bottom center;
    padding-top: 50px;
    padding-bottom: 350px;
  }

  @include xs {
    background-size:
      336px 289px,
      310px 311px;
    background-position:
      top center,
      bottom center;
    padding-top: 50px;
    padding-bottom: 340px;
  }

  &-img-box {
    max-width: 600px;
    margin-left: -80px;
    margin-right: 1200px;

    &-img {
      max-width: 100%;
      height: auto;
    }
  }

  &-content {
    max-width: 890px;

    &-title {
      font-weight: 600;
      font-size: 72px;
      line-height: 115%;
      color: $primary-01;
      margin-bottom: 30px;

      @media (max-width: 1500px) {
        font-size: 70px;
      }

      @include xxl {
        font-size: 68px;
      }

      @include lg {
        font-size: 58px;
        max-width: 740px;
      }

      @include md {
        font-size: 50px;
      }

      @include sm {
        font-size: 24px;
      }
    }

    &-text {
      font-size: 32px;
      line-height: 115%;
      color: $neutral-02;

      @media (max-width: 1500px) {
        font-size: 30px;
      }

      @include xxl {
        font-size: 28px;
        max-width: 750px;
      }

      @include xl {
        font-size: 28px;
        max-width: 700px;
      }

      @include lg {
        font-size: 24px;
      }

      @include md {
        font-size: 20px;
      }

      @include sm {
        font-size: 18px;
      }

      @include xs {
        font-size: 12px;
      }
    }
  }
}
