@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.header {
  font-size: 24px;
  color: $primary-10;
  padding: 60px 0 40px 0;
  z-index: 888;
  overflow: hidden;

  @include xxl {
    font-size: 20px;
  }

  @include xl {
    font-size: 18px;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      .img {
        width: 300px;
        height: 60px;

        @include xxl {
          width: 250px;
        }

        @include xl {
          width: 180px;
        }
      }
    }

    .link-button {
      display: block;

      @include lg {
        display: none;
      }
    }

    .nav {
      display: block;
      @include lg {
        display: none;
      }
    }
  }

  .mobile {
    display: none;

    @include lg {
      display: block;
    }

    .burger {
      z-index: 999;
      top: 60px;
      right: 30px;
      position: absolute;
      cursor: pointer;

      img {
        width: 50px;
        height: 50px;
      }
    }

    .menu {
      position: absolute;
      z-index: 888;
      top: 0;
      right: -100%;
      height: 100%;
      background-color: $primary-10;
      width: 100%;
      transition: all 1s ease;
      overflow: hidden;

      &.active {
        right: 0;
      }
    }
  }
}
