.vacancies {
  margin-top: 200px;
  margin-bottom: 200px;

  &-title {
    font-weight: 600;
    font-size: 72px;
    line-height: 115%;
    color: #000;
    margin-bottom: 50px;
  }

  &-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
}