@use '../../../../styles/mixins' as *;
@use '../../../../styles/variables' as *;

.nav {
  display: block;

  .lists {
    display: flex;
    justify-content: space-between;
    gap: 55px;
    list-style: none;

    @include xxl {
      gap: 50px;
    }

    @include xl {
      gap: 35px;
    }

    @include lg {
      gap: 20px;
      flex-direction: column;
    }

    .list {
      cursor: pointer;
      transition: color 0.5s;

      &:hover {
        color: $secondary-03;
      }

      .dropdown {
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        background: $primary-10;
        color: $neutral-01;
        padding: 50px 50px;
        gap: 50px 20px;
        animation-name: dropdown-animation;
        animation-duration: 1s;

        &-title {
          font-weight: 600;
          font-size: 32px;
        }
      }
    }


    .service {
      display: flex;
      align-items: center;

      .arrow {
        width: 28px;
        height: 28px;

        @include xxl {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

@keyframes dropdown-animation {
  0% {
    transition: 1s;
    transform-origin: top;
    transform: scaleY(0) translateY(-60%);
  }
  100% {
    transform: scaleY(1) translateY(0%);
  }
}
