@use '../../../../styles/mixins' as *;
@use '../../../../styles/variables' as *;

.dropdown-lists {
  max-width: 32%;

  @include lg {
    max-width: 100%;
  }

  &-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-item {
      font-size: 22px;
      padding: 10px 0;
      transition: color 0.5s;

      &:hover {
        color: $secondary-03;
      }

      @include md {
        font-size: 18px;
      }

      @include sm {
        font-size: 14px;
      }
    }
  }
}
